<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Edit</h1>
    <form action="http://localhost:3030/edit/<%= user.id %>" method="post">
        <textarea name="username"  cols="50" rows="1"><%= user.username %></textarea><br><br>
        <textarea name="email" cols="50" rows="1"><%= user.email %></textarea><br><br>
        <textarea name="password"  cols="50" rows="1"><%= user.password %></textarea><br><br>
        <button>Edit</button>
    </form>
</body>
</html>
