<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/style1.css">
</head>
<body>
    <div class="container">
        <h1>No of entries: <%= entries %></h1>
        <form action="http://localhost:3030/Posts" method="get">
            <button>Get Posts</button>
        </form>
    </div>
</body>
</html>
